// 颜色定义规范
$color-background : #011446;
$color-background-l : rgba(14,29,81,.8);
$color-background-lr : #fffcf5;
$color-background-sd : #F4F1EA;
$color-background-d : #0c122e;
$color-highlight-background : linear-gradient(180deg,rgba(255,255,255,1),rgba(194,152,103,1));
$color-border-background : linear-gradient(90deg,rgba(212,175,141,1),rgba(233,218,195,1),rgba(204,166,130,1));
$color-dialog-background : #666;
$color-theme : #ffcd32;
$color-text : #A19483;

//字体定义规范
$font-size-small-s : 10px;
$font-size-small : 12px;
$font-size-medium : 14px;
$font-size-medium-x : 16px;
$font-size-large : 18px;
$font-size-large-x : 22px;